page-home {
    .bg-image{
        background-image: url('assets/imgs/year of the dog.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: #cb9de0;
    }
}
